Library
Logs
obj
.idea
.DS_Store
ARDemo.sln
Assembly-CSharp.csproj
Unity.CollabProxy.Editor.csproj
Unity.EditorCoroutines.Editor.csproj
Unity.InternalAPIEditorBridge.005.csproj
Unity.Rider.Editor.csproj
Unity.Subsystem.Registration.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
Unity.XR.ARCore.csproj
Unity.XR.ARCore.Editor.csproj
Unity.XR.ARFoundation.csproj
Unity.XR.ARFoundation.Editor.csproj
Unity.XR.ARKit.csproj
Unity.XR.ARKit.Editor.csproj
Unity.XR.ARSubsystems.csproj
Unity.XR.ARSubsystems.Editor.csproj
Unity.XR.Management.csproj
Unity.XR.Management.Editor.csproj
UnityEditor.SpatialTracking.csproj
UnityEditor.TestRunner.csproj
UnityEditor.XR.LegacyInputHelpers.csproj
UnityEngine.SpatialTracking.csproj
UnityEngine.TestRunner.csproj
UnityEngine.XR.LegacyInputHelpers.csproj
